@media all and (min-width: 1280px) 
{
    *{font-family: Arial, Helvetica, sans-serif;}
    body
    {
        background-image: url(../img/bg.png);
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -9;
    }
    div#bar
{
    display: none;
}
    nav
    {
        background-color: #edf5b1
    }
    .container
    {
        width: 100%;
    }
    .d-flex
    {
        display: flex;
        align-items: center;
    }
    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    a
    {
        text-decoration: none ;
    }
    div.container > div 
    {
        width: 100%;
    }
   
    ul.menu
    {
        display: flex;
        justify-content: space-between;
    }
  
    ul.menu > li > a 
    {
        display: block;
        padding: 10px 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }
    ul.menu > li > a:hover
    {
        background-color: rgb(181, 184, 18);
    }
    h1#title
    {
        color: yellow ;
        text-align: center;
        font-family: monospace ;
        font-size: 6rem;
        text-shadow: 2px 2px 3px black;
        margin: 25px;
    }
    h3#container
    {
        color:yellow ;
        text-align: center;
        font-family: monospace ;
        font-size: 3rem ;
        text-shadow: 2px 2px 3px black;
        margin-bottom: 35px;
    }
    footer
    {
        background-color: #edf5b1;
        margin: 0;
        padding: 15px 20px;
    }
    footer > p {
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
}